---
layout: default
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.question %}<p class="dek">{{ page.question }}</p>{% endif %}
    <p class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time></p>
    {% if page.tags %}
    <ul class="tags">
      {% for tag in page.tags %}
      <li class="tag"><a href="{{ '/tags/' | relative_url }}#{{ tag | slugify }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>
  {{ content }}
</article>
{% include series.html %}
{% include comments.html %}
{% include scroll-read.html %}
