
name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    name: Lint changelog file
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Lint file
      uses: avto-dev/markdown-lint@v1
      with:
        args: "**/*.md"

  markdown-spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Spellcheck
      uses: rojopolis/spellcheck-github-actions@0.11.0